---
import ProductCard from "../ProductCard.astro";
import PrimaryLink from "@components/PrimaryLink.astro";

const camas = Object.values(import.meta.glob('../../pages/productos/camas/*.md', { eager: true }));
const muebles = Object.values(import.meta.glob('../../pages/productos/muebles/*.md', { eager: true }));

---

<section class="flex flex-col gap-6 py-6 px-4 md:py-12 md:px-8 w-full mx-auto max-w-7xl">
    <!-- <div class="bg-slate-300 p-6 shadow-xl  grid place-content-center h-full rounded-xl  dark:bg-gray-800 dark:border-gray-700">
        <p class="text-6xl mb-4 font-semibold">+100</p>
        <p class="text-lg">Clientes satisfechos con nuestros productos de primera calidad</p>
    </div> -->

    <h2 class="text-3xl lg:text-5xl text-center font-semibold">Catálogo de Productos</h2>
    <h3 class="text-xl lg:text-3xl text-center font-medium petrona">Camas</h2>

    <div class="grid grid-cols-2 sm:grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-4">
    {
    camas.map((cama: any) =>
    
    <ProductCard
        title={cama.frontmatter.title}
        price="$90"
        slug={cama.frontmatter.slug}>
        <Fragment slot="image">
            <img
                class="w-full h-full object-contain"
                src={cama.frontmatter.image.url}
                alt={cama.frontmatter.image.alt}
            />
        </Fragment>
    </ProductCard>   
    )}
    </div>
    <h3 class="text-xl lg:text-3xl mt-3 text-center font-medium petrona">Muebles</h2>


    <div class="grid grid-cols-2 sm:grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-4">
        {
        muebles.map((mueble: any) =>
        
        <ProductCard
            title={mueble.frontmatter.title}
            price="$90"
            slug={mueble.frontmatter.slug}>
            <Fragment slot="image">
                <img
                    class="w-full h-full object-contain"
                    src={mueble.frontmatter.image.url}
                    alt={mueble.frontmatter.image.alt}
                />
            </Fragment>
        </ProductCard>   
        )}
    </div>
    <h3 class="text-xl lg:text-3xl mt-3 text-center font-medium petrona">¿Buscando más modelos?</h2>
    <p class="max-w-md mb-3 text-center mx-auto">Si tienes otro modelo en mente no dudes en escribirnos, tambien diesñamos muebles a pedido.</p>   

    

   
</section>


